{% extends "hola.html" %}

{% block main %}
    <h2>Iniciar sesión</h2>
    <form method="POST">
        {% for field in form %}
            {% if field.name == 'submit' %}
                {{field}}
            {% elif field.name != 'csrf_token' %}
                {{field.label}}: {{field}} <br>
            {% endif %}

            {% for error in field.errors %}
                {{error}}<br>
            {% endfor %}
        {% endfor %}

        {{ form.csrf_token }}
    </form>
{% endblock %}
